:root {
  /* COLORES */
  --anaranjado: #fb8c00;
  --oscuro: #333;
  --blanco: #fff;
  --separacion: 5rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

/* GLOBALES */
h1,
h2,
h3 {
  margin: calc(var(--separacion) / 2) 0;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

[class$="__contenedor"] {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.hero {
  display: grid;
  grid-auto-rows: 30rem;
}
@media (min-width: 768px) {
  .hero {
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 40rem;
  }
}

.hero__info {
  text-align: center;
  align-self: center;
}

@media (min-width: 768px) {
  .hero__info {
    text-align: left;
  }
}

.hero__titulo {
  color: var(--oscuro);
  font-weight: bold;
}

.hero__parrafo {
  color: var(--oscuro);
  margin-bottom: calc(var(--separacion) / 2) 0;
}

.hero__btn {
  color: var(--anaranjado);
  padding: 1.2rem 2rem;
  font-weight: bold;
  border: 1px solid var(--anaranjado);
  border-radius: 2rem;
  transition: 0.2s;
}

@media (hover: hover) {
  .hero__btn:hover {
    background-color: var(--anaranjado);
    color: var(--blanco);
  }
}

.hero__img {
  width: 100%;
  height: 44rem;
  object-fit: contain;
  object-position: top;
}
