:root {
  /* COLORES */
  --anaranjado: #fb8c00;
  --oscuro: #333;
  --blanco: #fff;
  --separacion: 5rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
}

/* GLOBALES */
h1,
h2,
h3 {
  margin: calc(var(--separacion) / 2) 0;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

[class$="__contenedor"] {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.hero {
  display: grid;
  grid-auto-rows: 35rem;
}
@media (min-width: 768px) {
  .hero {
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 55rem;
  }
}

.hero__info {
  text-align: center;
  align-self: center;
}

@media (min-width: 768px) {
  .hero__info {
    text-align: left;
  }
}

.hero__titulo {
  color: var(--oscuro);
  font-weight: bold;
}

.hero__parrafo {
  color: var(--oscuro);
  margin-bottom: calc(var(--separacion) / 2);
}

.hero__btn {
  color: var(--anaranjado);
  padding: 1.2rem 2rem;
  font-weight: bold;
  border: 1px solid var(--anaranjado);
  border-radius: 2rem;
  transition: 0.2s;
}

@media (hover: hover) {
  .hero__btn:hover {
    cursor: pointer;
    background-color: var(--anaranjado);
    color: var(--blanco);
  }
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

.galeria {
  margin-top: 5rem;
}

.galeria__titulo {
  color: var(--oscuro);
  text-align: center;
}

.galeria__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(15rem, 20rem));
  grid-auto-rows: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .galeria__grid {
    grid-template-columns: repeat(4, minmax(15rem, 20rem));
  }
}
.galeria__item--big {
  grid-column: 1/3;
  grid-row: 1 / 3;
}

.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  margin-bottom: var(--separacion);
}

.menu__titulo {
  text-align: center;
  color: var(--oscuro);
  font-weight: bolder;
}

.menu__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 25rem));
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .menu__grid {
    grid-template-columns: repeat(5, minmax(15rem, 20rem));
  }
}

.menu__bg {
  padding: 1rem;
  background-color: rgb(236, 186, 168);
  border-top-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.menu__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer {
  background-color: var(--anaranjado);
  padding: 1rem;
}
.footer__parrafo {
  color: var(--blanco);
  text-align: center;
}
