<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header>
      <div class="hero hero__contenedor">
        <section class="hero__info">
          <h1 class="hero__titulo">Tenemos la major comida</h1>
          <p class="hero__parrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
            maiores?
          </p>
          <a class="hero__btn" href="#">Reservar una mesa</a>
        </section>
        <picture>
          <source srcset="./assets/img/hero.avif" type="image/avif" />
          <source srcset="./assets/img/hero.webp" type="image/webp" />
          <img
            class="hero__img"
            loading="lazy"
            width="500"
            height="300"
            src="./assets/img/hero.png"
            alt="Spaguetti-con-Vegetales"
          />
        </picture>
      </div>
    </header>
    <main>

    </main>
  </body>
</html>
