<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header>
      <div class="hero hero__contenedor">
        <section class="hero__info">
          <h1 class="hero__titulo">Tenemos la major comida</h1>
          <p class="hero__parrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
            maiores?
          </p>
          <a class="hero__btn" href="#">Reservar una mesa</a>
        </section>
        <picture>
          <source srcset="./assets/img/hero.avif" type="image/avif" />
          <source srcset="./assets/img/hero.webp" type="image/webp" />
          <img
            class="hero__img"
            loading="lazy"
            width="500"
            height="300"
            src="./assets/img/hero.png"
            alt="Spaguetti-con-Vegetales"
          />
        </picture>
      </div>
    </header>
    <main class="main main__contenedor">
      <section class="menu">
        <h2 class="menu__titulo">Nuestro Menú</h2>
        <div class="menu__grid">
          <picture class="menu__item menu__item--big">
            <source srcset="./assets/img/video.avif" type="image/avif" />
            <source srcset="./assets/img/video.webp" type="image/webp" />
            <img
              class="menu__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/video.png"
              alt="Mesa con pasta"
            />
          </picture>
          <picture class="menu__item">
            <source srcset="./assets/img/dish1.avif" type="image/avif" />
            <source srcset="./assets/img/dish1.webp" type="image/webp" />
            <img
              class="menu__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/dish1.png"
              alt="Tazón de Vegetales"
            />
          </picture>
          <picture class="menu__item">
            <source srcset="./assets/img/dish2.avif" type="image/avif" />
            <source srcset="./assets/img/dish2.webp" type="image/webp" />
            <img
              class="menu__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/dish2.png"
              alt=""
            />
          </picture class="menu__item">
          <picture>
            <source srcset="./assets/img/dish3.avif" type="image/avif" />
            <source srcset="./assets/img/dish3.webp" type="image/webp" />
            <img
              class="menu__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/dish3.png"
              alt=""
            />
          </picture>
          <picture class="menu__item">
            <source srcset="./assets/img/dish4.avif" type="image/avif" />
            <source srcset="./assets/img/dish4.webp" type="image/webp" />
            <img
              class="menu__img"
              loading="lazy"
              width="500"
              height="300"
              src="./assets/img/dish4.png"
              alt=""
            />
          </picture>
        </div>
      </section>
    </main>
  </body>
</html>
